.portfolio-container .filter {
  display: flex;
  gap: 8px;
  margin-bottom: 34px;
  justify-content: center;
  align-items: flex-start;
}

.filter .button:hover,
.filter .button:focus,
.filter .button:active {
  color: var(--light-white-color);
  background-color: var(--accent-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects .list {
  width: 370px;
}

.projects .link {
  display: block;
  width: 100%;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.projects-thumb {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

.projects .img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.projects-thumb-hover {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);

  overflow: hidden;

  opacity: 0;
  pointer-events: none;

  transition: top var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}

.projects .projects-thumb-hover .text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: start;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--light-white-color);
}

.projects .link:hover,
.projects .link:focus,
.projects .link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .link:hover .projects-thumb-hover,
.projects .link:focus .projects-thumb-hover,
.projects .link:active .projects-thumb-hover {
  opacity: 1;
  top: 0;
}

.projects .projects-container {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  text-align: left;
}

.portfolio-container .projects-container {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects .title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.projects .text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}
