// .section-team {
//   padding-top: 94px;
//   padding-bottom: 94px;
//   background-color: var(--light-grey-color);
// }

// .section-team .team {
//   display: flex;
//   gap: 30px;
// }

// .team .card {
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .team-container {
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

// .team-title {
//   margin-bottom: 10px;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: calc(19 / 16);
//   text-align: center;
// }

// .team-item {
//   font-size: 16px;
//   margin-bottom: 16px;
//   line-height: calc(19 / 16);
//   text-align: center;
//   color: var(--secondary-txt-color);
// }

// .team-container .team-contacts {
//   display: flex;
//   gap: 10px;
//   align-items: center;
//   justify-content: center;
// }

// .contacts-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;

//   color: var(--svg-color);
//   transition: color var(--transition-duration) var(--transition-timing-function),
//     background-color var(--transition-duration)
//       var(--transition-timing-function);
// }

// .team-contacts .svg {
//   width: 20px;
//   height: 20px;
//   fill: currentColor;
// }

// .contacts-item:focus,
// .contacts-item:hover,
// .contacts-item:active {
//   border-radius: 50%;
//   color: var(--light-white-color);
//   background-color: var(--accent-bg-color);
// }

.section-team {
  @extend %section;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--light-grey-color);
}

.section-team .team {
  display: flex;
  gap: 30px;
}

.team .card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-item {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-txt-color);
}

.team-container .team-contacts {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--svg-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.team-contacts .svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.contacts-item:focus,
.contacts-item:hover,
.contacts-item:active {
  border-radius: 50%;
  color: var(--light-white-color);
  background-color: var(--accent-bg-color);
}
